body {
  background-image: url(/assets/images/background1.jpg);
  font-family: "Roboto", sans-serif;
  color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

/* Heading */

.heading {
  text-align: center;
  font-size: 2rem;
}

.heading-img {
  display: flex;
}

h2, h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Game area */

.game-area {
  display: flex;
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons/Options */

#options {
  text-align: center;
  padding: 13px;
  border-radius: 50%;
  border: 5px solid;
  font-size: 2rem;
  margin: 10px 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: #ffffff;
}

.cChoice {
  text-align: center;
  border-radius: 50%;
  border: 5px solid;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
}

#options:hover>img {
  transform: scale(1.2);
}

#options>img {
  width: 100%;
  transition: all 0.3s ease;
}

/* Results Section */

.players {
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
  align-content: space-between;
}

.results {
  display: inline-block;
  padding: 15px;
  font-size: 2rem;
}

/* Screen Responsive Media Querries */

@media (min-width: 300px) {
  .heading {
    display: flex;
    flex-direction: column;
  }

  #options {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 450px) {
  .heading {
    display: flex;
    flex-direction: column;
  }

  #options {
    display: flex;
  }
}

@media (min-width: 600px) {
  .heading {
    display: flex;
  }

  #options {
    display: flex;
  }
}

@media (min-width: 750px) {
  .heading {
    display: flex;
  }

  #options {
    display: flex;
  }
}

@media (min-width: 900px) {
  .heading {
    height: 20px;
    display: flex;
  }

  #options {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1000px) {
  .heading {
    height: 20px;
  }
  
  .game-area {
    max-height: 450px;
    max-width: 830px;
  }

  #options {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
  }

}
