body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #445361;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2rem;
    height: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Game area */
.game-area {
    width: 85%;
    height: auto;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.option {
        text-align: center;
        padding: 10px;
        border-radius: 50%;
        border: 5px solid;
        font-size: 2rem;
        margin: 10px 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: #ffffff;
}

.cchoice {
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    border: 5px solid;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: #ffffff;
}

.option.active {
    border-color: red;
  }
  
  .option:hover > img {
    transform: scale(1.1);
  }
  
  .option > img {
    width: 100%;
    transition: all 0.3s ease;
  }

.players {
    display: inline-flex;
    flex: 1;
    align-content: space-between;
  }

/* Results */

.results {
    display: inline-block;
    padding: 15px;
    font-size: 2rem;
}
