body {
  background-image: url(/assets/images/background.webp);
  font-family: "Roboto", sans-serif;
  color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Navigation bar */
/* This code was inspired by the Code Institutes 'Love Running' */
.nav-list {
  margin: 0px;
  padding: 1rem;
  list-style-type: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}

/* This code was inspired by the Code Institutes 'Love Running' */
.nav-item {
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px;
  font-weight: 400;
  color: #3a3a3a;
}

/* This code was inspired by the Code Institutes 'Love Running' */
.nav-item a:hover,
.nav-item a:active {
  border-bottom: 2px solid #3a3a3a;
  background-color: rgb(248, 76, 76);
  color: white;
}

/* Heading */

.heading {
  text-align: center;
  font-size: 2rem;
}

h2,
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Game area */

.game-area {
  text-align: center;
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.players {
  padding-left: 5px;
  padding-right: 5px;
  align-content: space-between;
}

/* Buttons */
/* This code was inspired by the Code Institutes 'Love Maths' */
.btn {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 20%;
  border: 3px solid black;
  font-weight: 400;
  color: #eee;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-color: rgb(240, 58, 58);
}

/* This code was inspired by the Code Institutes 'Love Maths' */
.btn:active,
.btn:hover {
  background-color: darkblue;
  color: white;
}

/* Results Section */

.resultBox {
  display: inline-block;
  padding: 15px;
  min-width: 200px;
  font-size: 1.5rem;
  border-radius: 25px;
  background-color: rgb(240, 243, 242);
}

.results {
  font-size: 1em;
}

#result_display {
  font-size: 20px;
}

.btn-reset {
  border: 1px solid #3a3a3a;
  font-weight: 400;
  font-size: 20px;
  background-color: rgb(127, 199, 220);
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* This code was inspired by the Code Institutes 'Love Maths' */
.btn-reset:active,
.btn-reset:hover {
  background-color: rgb(53, 209, 17);
  color: white;
}

/* Footer */
/* This code was inspired by the Code Institutes 'Love Running' */
.footer {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 85%;
  list-style-type: none;
  text-decoration: none;
}

/* This code was inspired by the Code Institutes 'Love Running' */
.footer-item a {
  font-size: 30px;
  font-weight: 400;
  padding: 1rem;
}

/* This code was inspired by the Code Institutes 'Love Running' */
.footer-item a:active,
.footer-item a:hover {
  background-color: rgb(248, 76, 76);
  color: white;
}

/* Screen Responsive Media Querries */
/* This code was inspired by the Code Institutes 'Love Running' */
@media (max-width: 400px) {
  .footer {
    flex-direction: column;
  }

  .footer-item {
    padding: 1rem;
  }
}

@media (min-width: 400px) {
  .footer {
    display: inline-flex;
  }
}

@media (min-width: 900px) {

  body {
    width: 80%;
  }

  .spock,
  .rock,
  .lizzard,
  .scissors,
  .paper {
    display: inline-flex;
  }
}

@media (min-width: 1000px) {

  .spock,
  .rock,
  .lizzard,
  .scissors,
  .paper {
    display: inline-flex;
  }
}